<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main>
    <div class="container max-w-4xl mx-auto">
        <div class="nav mb-10 bg-red-500 text-center p-4">
            <h1 class="text-5xl font-bold text-white mx-auto">Bibliothèque de Dessin Animé</h1>
        </div>
        <div class="grid grid-cols-8 gap-4 mb-4">
            <button id="buttonHome" class="border-2 border-green-500 p-2 rounded-md bg-green-500 hover:bg-green-300 delay-100">Accueil</button>
            <button id="buttonAdd" class="border-2 border-green-500 p-2 rounded-md bg-green-500 hover:bg-green-300 delay-100">Ajouter</button>
        </div>

        <div id="liste" class="space-y-2">
            <strong>Nom :</strong><p id="nameDisplay"></p><br>
            <strong>Pays :</strong><p id="countryDisplay"></p><br>
        </div>
    </div>

    <script src="../../assets/script/nav.js"></script>
    <script src="../../assets/script/view.js"></script>

</main>
</body>
</html>